[Unit]
Description=Automount Local SWAP
After=local-fs.target

[Service]
Type=oneshot
RemainAfterExit=true
ExecStart=/bin/bash -c 'for DEV in $(/sbin/blkid -o device); do export $(/sbin/blkid -o export $DEV); [[ "$TYPE" == "swap" ]] && /sbin/swapon UUID=$UUID; done'

[Install]
WantedBy=multi-user.target
